

<div id="modal">
    <i class="fas fa-times" id="close-menu"></i>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/mensaje">Mensaje</a></li>
        <li><a href="/curriculum">Curriculum</a></li>
        <li><a href="/testimonios">Testimonios</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</div>


<script src="js/main-es5.js"></script>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101121595); }catch(e){}</script>
<script> 
    var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:true,api:2018.06 }; 
    function $buo_f(){ 
        var e = document.createElement("script"); 
        e.src = "//browser-update.org/update.min.js"; 
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
    </script>
</body>
</html>