<div id="hero">
        <p  style="font-size: .8em; font-family: Poppins; background-color: rgba(0,0,0,.5); padding: .6em .6em; width: 249px;">UNA SOLA META: UNA UACJ MÁS GRANDE</p>
        <h1>VALOR A LA GENTE Y FORMACIÓN CON FUTURO</h1>
        <h4 class="black" >En este documento presento la visión de gobierno universitario con la que estoy seguro lograremos hacer de la Universidad Autónoma de Ciudad Juárez una Institución de referencia nacional e internacional.</h4>
        <a href="/mensaje" class="p-link">Ver mensaje completo</a>
    </div>