<div id="right-side">
        <div class="box">
            <div class="row">
                <div class="column">
                    <div>
                        <div class="subject">
                            <div class="icon">
                                <span class="lnr lnr-graduation-hat black"></span>
                            </div>
                            <div>
                                <h2>
                                    MEJORA ACADÉMICA, FORMACIÓN INTEGRAL DEL ESTUDIANTE Y EFICIENCIA ADMINISTRATIVA
                                </h2>
                                <p>
                                Identificamos demandas concretas para <span class="p-link">mejorar la vida académica</span> de  profesores-investigadores, estudiantes y personal administrativo.
                                </p> 
                                <a href="/eficiencia-rendicion-de-cuentas" class="btn">ver eje completo</a>     
                            </div>
                        </div>
                        
                        <hr class="line ln-transparent">

                        <div class="subject">
                                <div class="icon">
                                    <i class="fab fa-connectdevelop black"></i>
                                </div>
                                <div class="misterio">
                                    <h2 class="proximamente">INVESTIGACIÓN CIENTÍFICA Y POSGRADO</h2>
                                    <button class="btn">En revisión</button>
                                    
                                </div>
                            </div>  
                        
                        <hr class="line ln-transparent">

                        <div class="subject">
                            <div class="icon">
                                <span class="lnr lnr-flag black"></span>
                            </div>
                            <div class="misterio">
                                <h2 class="proximamente">DEMOCRATIZACIÓN INSTITUCIONAL Y DEFENSA DE LOS DERECHOS UNIVERSITARIOS</h2>
                                <button class="btn">En revisión</button> 
                                
                            </div>
                        </div>
                        <hr class="line ln-transparent">
                        <div class="subject">
                                <div class="icon">
                                    <span class="lnr lnr-apartment black"></span>
                                </div>
                                <div class="misterio">
                                    <h2 class="proximamente">DESARROLLO INSTITUCIONAL</h2>
                                    <button class="btn">En revisión</button>
                                    
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="box">
                <div class="row">
                    <div class="column">
                            <div>
                                <hr class="line ln-transparent responsive-line">
                                <div class="subject">
                                        <div class="icon">
                                            <span class="lnr lnr-rocket black"></span>
                                        </div>
                                        <div class="misterio">
                                            <h2 class="proximamente">EMPRENDIMIENTO Y LIDERAZGO PROFESIONAL
                                            </h2>
                                            <button class="btn">En revisión</button>     
                                        </div>
                                    </div>
        
                                    <hr class="line ln-transparent">
        
                                    <div class="subject">
                                        <div class="icon">
                                            <span class="lnr lnr-earth black"></span>
                                        </div>
                                        <div class="misterio">
                                            <h2 class="proximamente">INTERNACIONALIZACIÓN Y MOVILIZACIÓN DE RECURSOS</h2>
                                            <button class="btn">En revisión</button>
                                        </div>
                                    </div>    
                                    <hr class="line ln-transparent">
                                    <div class="subject">
                                        <div class="icon">
                                            <span class="lnr lnr-users black"></span>
                                        </div>
                                        <div class="misterio">
                                            <h2 class="proximamente">VINCULACIÓN COMUNITARIA Y PROMOCIÓN DE LA CULTURA </h2>
                                            <button class="btn">En revisión</button>
                                        </div>
                                    </div>
                            
                        </div>
                    </div>
                </div>
            </div>

    </div>