<div id="right-side">
        <div class="box">
            <div class="row">
                <div class="column">
                    <div>
                        <div class="subject">
                            <div class="icon">
                                <span class="lnr lnr-graduation-hat black"></span>
                            </div>
                            <div>
                                <h2>
                                    EFICIENCIA, RENDICIÓN DE CUENTAS Y MEJORA DE LA VIDA ACADÉMICA
                                </h2>
                                <p>
                                Identificamos demandas concretas para <span class="p-link">mejorar la vida académica</span> de  profesores-investigadores, estudiantes y personal administrativo.
                                </p> 
                                <a href="/eficiencia-rendicion-de-cuentas" class="btn">ver eje completo</a>     
                            </div>
                        </div>
                        
                        <hr class="line ln-transparent">

                        <div class="subject">
                                <div class="icon">
                                    
                                </div>
                                <div class="misterio" style="width: 100%; float: left; height:300px; background-color: rgba(0,0,0,.05); box-shadow: 2px 2px 5px rgba(0,0,0,.05) , -2px -2px 5px rgba(0,0,0,.05);">
                                    <h4 style="text-align: center; margin-top:8em;">
                                        PRÓXIMAMENTE
                                    </h4>
                                            
                                </div>
                        </div>
                        <hr class="line ln-transparent">
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="box">
                <div class="row">
                    <div class="column">
                        <div>
                            <div class="subject">
                                <div class="icon">
                                    
                                </div>
                                <div class="misterio" style="width: 100%; float: left; height:300px; background-color: rgba(0,0,0,.05); box-shadow: 2px 2px 5px rgba(0,0,0,.05) , -2px -2px 5px rgba(0,0,0,.05);">
                                    <h4 style="text-align: center; margin-top:8em;">
                                        PRÓXIMAMENTE
                                    </h4>
                                            
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>

    </div>